* {
    box-sizing: border-box;
    font-family: PT Mono, monospace;
  }

.container {
    flex: auto;
}

.calculator-box {
    height: 450px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #adcbe3;
    justify-content: center;
    align-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    border: 2px solid #2a4d69;
}

.screen {
    border: 2px solid black;
    height: 100px;
    width: 250px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #e7eff6;
    white-space: nowrap;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box-shadow for depth */

    background: linear-gradient(135deg, rgba(219, 233, 232, 0.8), rgba(94, 110, 110, 0.2)); 
    
}

.display {
    margin: 8px;
    width:95%;
    height: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
}


.button-box {
    display: flex;
    flex-direction: column;
    margin: 15px 25px;
    justify-content: center;
}

.row {
    display: flex;
    width: auto;
    
}

.button {
    flex: 0 1 25%;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    background-color: #2a4d69;
    color: white;
}

.button.clear {
   background-color: #FA5456;
   flex-grow: 0;
}

.button.zero {
    flex-grow: 2;
}

.button.equals {
    flex-grow: 1;
}

.button.operator {
    background-color: #63ace5;
}

.button.operator.equals {
    background-color: #e7eff6;
    color: #2a4d69;
}

.button.decimal,
.button.operator.plus {
    flex: 0 1 25%; /* Ensure they take the same space as other buttons */
    max-width: 25%; /* Ensure their width doesn't exceed 25% */
}

.button:hover {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .calculator-box {
        width: 90%;
        height: auto;
    }
}